{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/folder_list.css' %}">
{% endblock %}
{% block content %}
<div class="n-folder">
    <h1>Folders{% if parent_folder %} in {{ parent_folder.name }}{% endif %}</h1>
</div>

{% if folders %}
<ul class="list-group">
    {% for folder in folders %}
    <li class="list-folder">
        <div class="folder-actions">
            <a class="slot-folder" href="{% url 'folder_list' folder.id %}"><img src="{% static 'icons/folder-icon.svg' %}" alt="Folder" class="folder-icon">{{ folder.name }}</a>
            <a href="{% url 'create_folder' folder.id %}" class="btn btn-sm btn-secondary"> Add a subfolder</a>
            <form method="post" action="{% url 'delete_folder' folder.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn-del">
                  <img src="{% static 'icons/del-icon.svg' %}" alt="Delete" >
                </button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No folders found.</p>
{% endif %}
<h2>Files</h2>
{% if files %}
<ul class="list-group">
  {% for file in files %}
  <li class="list-file" >
    <a><img src="{% static 'icons/file-icon.svg' %}" alt="File" >{{ file.file|cut:"uploads/"  }}</a>
    <div class="slot-file">
      <a href="{% url 'download_file' file.id %}" class="btn btn-sm btn-secondary">Download</a>
      <form method="post" action="{% url 'delete_file' file.id %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn-del">
          <img src="{% static 'icons/del-icon.svg' %}" alt="Delete" >
        </button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No files in this folder.</p>
{% endif %}

{% if parent_folder %}
  {% if parent_folder.parent%}
    <a href="{% url 'folder_list' parent_folder.parent.id %}" class="btn-sec" >Back </a>
  {% else %}
    <a href="{% url 'folder_list' %}" class="btn-sec" >Back </a>
  {% endif %}
{% endif %}
{% endblock %}