{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/upload.css' %}">
{% endblock %}

{% block content %}
    <h1>Upload File</h1>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="drag-and-drop" id="drag-and-drop">
            Drag and drop a file here or click to select a file
        </div>
        <input type="file" id="file-input" name="file" style="display: none;">
        <button type="submit">Upload</button>
    </form>
    <h2>Uploaded Files</h2>
    <ul>
        {% for file in files %}
            <li><a href="{% url 'download_file' file.id %}">{{ file.file.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}