body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    overflow: hidden;
}

.content {
    text-align: center;
    align-items: center;
}

.drag-and-drop {
    margin: 20px auto;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

.drag-and-drop {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}
  
.drag-and-drop.dragover {
    border-color: #aaa;
    background-color: #f0f0f0;
}

#file-input {
    display: none;
}

.upload-move-btn {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-move-btn:hover {
    background-color: #23527c;
}

.list-file{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}

.slot-file , .list-file span {
    display: flex;
    align-items: center;
    align-content: center;
}

.list-file span , .file-icon{
    margin-right: 2%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #337ab7;
}

ul li a:hover {
    color: #23527c;
}