:root {
    --primary-bg-color: #f4f4f4;
    --text-color: #333;
    --hover-bg-color: #ddd;
    --font-stack: Arial, sans-serif;
    --box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-stack);
    display: flex;
    margin: 0;
}

.sidebar {
    height: 100vh;
    width: 200px;
    background-color: var(--primary-bg-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.sidebar-btns{
    margin-top: 30px;
}

.sidebar a {
    display: block;
    color: var(--text-color);
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: var(--hover-bg-color);
}

.content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}


.name {
    font-size: 24px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}